<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/about/style.css">
  <title >Fi Tri9i</title>
</head>
<body>
    <%-include ('./partials/navbar.ejs') %>

  <main class="content">

   
    <div class="box">
      <div class="empty"></div>
      <div class="part1">About Us</div>
    </div>

    <h1>On s'engage à apporter la liberté, l'équité et l'esprit de partage dans le monde du voyage.</h1>
    <img src="/about/pics/Group.svg" >
    <div class="container">
      <div class="Row">
        <div class="res0">
          <h3>Nos Valeurs </h3> 
          <div class="blue-line"></div>
          <p class="txt">L'intégrité, la sécurité et la communauté sont au cœur de notre approche. Nous veillons à ce que chaque trajet soit sûr et convivial pour tous.</p>
        </div>
        <div class="res1"><img class="img" src="/about/pics/about1.svg"></div>
      </div>
      <div class="Row-s">
        <div class="res1">
          <img class="img" src="/about/pics/about2.svg">
        </div>
        <div class="res0-s">

          <h3>Pourquoi Nous Choisir? </h3> 
          <div class="blue-line"></div>
          <p class="txt"> Optez pour Fitri9i pour des trajets économiques, écologiques et conviviaux. Rejoignez-nous dès aujourd'hui pour une meilleure façon de voyager !</p>
      
        </div>
      </div>
      <div class="Row">
        <div class="res0">
          <h3>Notre Mission </h3> 
          <div class="blue-line"></div>
          <p class="txt">Chez Fitri9i, nous nous engageons à révolutionner les déplacements en offrant une alternative économique et durable à la voiture individuelle.</p>
      
        </div>
        <div class="res1"><img class="img" src="/about/pics/about3.svg"></div>
      </div>

    </div>



  </main>


<script src="script.js"></script>
</body>
</html>