<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Logout</title>
<link rel="stylesheet" href="/logout/style.css">
</head>
<body>
<div class="wrapper">
  <h2>Logging Out</h2>
  <p>Please wait while we log you out...</p>
</div>
<script>
  setTimeout(() => {
    window.location.href = "/disconnect"; // Replace "/home" with the actual URL of your home page
  }, 3000); // 3000 milliseconds = 3 seconds
</script>
</body>
</html>
