<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="nolocation/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;700&display=swap">
  <title >Fi Tri9i</title>
</head>
<body>
  <%-include("./partials/navbar")  %>
  <main class="content">
<img src="nolocation/pics/map.svg" class="map" id="map">
<h1>Localisation non disponible</h1>
<p>Désolé, la localisation que vous recherchez n'est pas disponible pour le moment</p>
  </main>

<script src="nolocation/script.js"></script>
</body>
</html>