<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/notsigned/style.css">
  <link rel="stylesheet" href="/notsigned/style1.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;700&display=swap">
  <title >Fi Tri9i</title>
</head>
<body>

  <%- include('./partials/navbar.ejs')  %>


  <main class="content">
    <div class="container">
      <div class="column1">
        <h1>Je me connecte </h1>
        <p class="pp">continuer avec une adresse email ? </p>
        <div class="row">
          <div class="box1">pas encore membre ?</div>
          <a href="../../signup" class="box2">Inscrez vous ?</a>
         
        </div>
      </div>
      <div class="column2">
       <img src="/notsigned/pics/Picture.svg" class="img">
      </div>
    </div>
  </main>



<script src="/notsigned/script.js"></script>
</body>
</html>