<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Form</title>
  <link rel="stylesheet" href="/signup/style.css">
</head>

<body>
  <div class="wrapper">
    <div class="form-container">
      <h2>Registration</h2>
      <form action="/signup" method="post">
        <div class="input-group">
          <div class="input-box left">
            <input type="text" name="name" placeholder="Last Name" required>
          </div>
          <div class="input-box right">
            <input type="text" name="firstname" placeholder="First Name" required>
          </div>
        </div>
        <div class="input-group">
          <div class="input-box left">
            <input type="email" name="email" placeholder="Email Address" required>
          </div>
          <div class="input-box right">
            <input type="tel" name="phone" placeholder="Phone Number" required>
          </div>
        </div>
        <div class="input-group">
          <div class="input-box left">
            <input type="text" name="state" placeholder="Wilaya" required>
          </div>
          <div class="input-box right">
            <input type="text" name="city" placeholder="Commune" required>
          </div>
        </div>
        <div class="input-box">
          <input type="text" name="address" placeholder="Address" required>
        </div>
        <div class="input-group">
          <div class="input-box left">
            <input type="password" name="password" placeholder="Password" required>
          </div>
          <div class="input-box right">
            <input type="password" placeholder="Confirm Password" required>
          </div>
        </div>
        <div class="input-box">
          <label for="gender">Gender:</label>
          <select id="gender" name="gender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
        <div class="input-box">
          <label for="userType">User Type:</label>
          <select id="userType" name="userType" required>
            <option value="1">Client</option>
            <option value="2">Driver</option>
          </select>
        </div>
        <div class="policy">
          <input type="checkbox" id="accept" required>
          <label for="accept">I accept all terms & conditions</label>
        </div>
        <div class="input-box button">
          <input type="submit" value="Register Now">
        </div>
      </form>
      <div class="text">
        <p>Already have an account? <a href="/login">Login now</a></p>
      </div>
    </div>
  </div>
</body>

</html>
