<!DOCTYPE html>
<html lang="en">
<head>
  
  <link rel="stylesheet" href="/publier/page1/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;700&display=swap">
  <%-include('../partials/head.ejs')  %>
</head>
<body>

 <div id="page1">
  <%- include('../partials/navbar.ejs') %>

<form action="/depart" method="post">
  <main class="content">
    
  
      <div class="row"> 
        <button id="btn1" ></button>
        <button id="btn2" ></button>
        <button id="btn3" ></button>
        <button id="btn4" ></button>
        <button id="btn5" ></button>
        <button id="btn6" ></button>
        <button id="btn7" ></button>
        <button id="btn8" ></button>
        <button id="btn9" ></button>
      </div>
   

    <div class="wilaya">Quelle est la Wilaya de départ ?</div>
    
    <input type="text" name="depart" id="commencer" placeholder="  ex : Blida">
    <button id="suiv" type="submit">Suivant</button>
    <img src="pics/martyr.png" id="salut" height="550px" width="550px" alt="">
    <img src="publier/page1/pics/Group (1).png" alt="" id="hi" height="400px">
    
  </main>
</form>

 </div>

<script src="/publier/page1/script.js"></script>
</body>
</html>