<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/publier/prix/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;700&display=swap">
  <%-include('../partials/head.ejs')  %>
</head>
<body>

  <%- include('../partials/navbar.ejs')%>


  <main class="content">
    <div class="row-btn"> 
      <button id="btn1" ></button>
      <button id="btn2" ></button>
      <button id="btn3" ></button>
      <button id="btn4" ></button>
      <button id="btn5" ></button>
      <button id="btn6" ></button>
      <button id="btn7" ></button>
      <button id="btn8" ></button>
      <button id="btn9" ></button>
    </div>
    <h1 class="title">Fixez votre prix par place</h1>
    <div class="row">
      <img src="pics/img.svg" class="img">
      <div class="row1">
        <button class="minuss" id="minuss">−</button>
        <input value="200da" class="prix" id="prix" maxlength="6" >
        <button class="pluss" id="pluss">+</button>
      </div>

   

    </div>
    <div class="row1">
      <button class="precedent" id="precedent">précédent</button>
      <button class="prochaine" id="prochaine">continuer</button>
    </div>
  </main>


  <script>
    document.getElementById('prochaine').addEventListener('click', () => {
         const Content = document.getElementById('prix').value;
         sendDataToBackend(Content);
     });

     function sendDataToBackend(content) {
         fetch('/price', {
             method: 'POST',
             headers: {
                 'Content-Type': 'application/json',
             },
             body: JSON.stringify({ content }),
         })
         .then(response => {
             if (response.ok) {
                 console.log('Content sent successfully!');
             } else {
                 console.error('Failed to send content.');
             }
         })
         .catch(error => console.error('Error:', error));
     }
 </script>
<script src="/publier/prix/script.js"></script>
</body>
</html>