<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/publier/tripcreated/style.css">
 
  <title >Fi Tri9i</title>
</head>
<body>

  <nav class="navbar">
   
    <div class="titre">Votre Trajet est publier !</div>

  </nav>


  <main class="content">
    <img src="/publier/tripcreated/pics/approved 1.svg" alt="" class="photo">
   <a href="../../home"><button class="btn">Retourner à l'accueil</button></a> 
    
  </main>



<script src="/publier/tripcreated/script.js"></script>
</body>
</html>